@import url('https://fonts.googleapis.com/css?family=Bungee');

html {
  height: 100%;
  width: 100%;
}

body {
  padding: 0;
  margin: 0;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f1f1f1;
  transition: 0.3s ease;
}

div.content {
  display: flex;
  flex-direction: column;
  align-items: center;

  h3 {
    font-family: 'Bungee', cursive;
  }
}

div.buttons {
  display: flex;
  gap: 10px;

  button {
    border: 2px solid #000;
    border-radius: 7px;
    padding: 10px 20px;
    position: relative;
    overflow: hidden;
    transition: 0.3s ease;

    span {
      position: relative;
      z-index: 1;
      transition: 0.3s ease;
      font-family: 'Bungee', cursive;
      color: #fff;
    } 
  }
  button::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: -100%;
    background: #fff;
    transition: 0.3s ease;
  }
  button:hover::after {
    left: 0;
  }
  button:hover {
    scale: 1.1;
    cursor: pointer;
  }

  .red {
    background: red;
  }
  .red:hover span {
    color: red;
  }

  .green {
    background: limegreen;
  }
  .green:hover span {
    color: limegreen;
  }

  .blue {
    background: blue;
  }
  .blue:hover span {
    color: blue;
  }

  .random {
    font-family: 'Bungee', cursive;
    color: #000;
    background: #fff;

    span {
      color: #000;
    }
  }
}

form {
  display: flex;
  flex-direction: row;
  width: 400px;
  gap: 10px;
}
